
p{
    color: crimson;background-color: aquamarine;
    font-size: larger;
    text-shadow: 2px 3px 5px;
}
    .img_border{
        border: 10px solid orange;
        border-top-color: red ;
        border-right: blue;
        border-bottom: aqua;
        border-left: green;
        padding: 10px;
        border-radius: 30px 20px 20px 30px;

    }
    .text_on_image{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: yellow;
        background-color: coral;
        padding: 5px 10px;
        font-size: 16px;
        font-weight:bold;
    }
    
        .box_model{
            border : 12px  20px 60px 10px  ;  background-color: aqua ; 

            border: 12px inset red ;;

            padding: 50px 30px 50px 50px ;



    }
